<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Mahasiswa</title>
        </head>
    <body>
        <h1>Daftar Mahasiswa</h1>
        
        <table border="1">
            <thead>
                <tr>
                    <td>NIM</td>
                    <td>NAMA</td>
                    <td>JURUSAN</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mhs : ${daftarMahasiswa}">
                    <td th:text="${mhs.nim}"></td>
                    <td th:text="${mhs.nama}"></td>
                    <td th:text="${mhs.jurusan}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/tambah-data">Tambah</a>
    </body>
</html>
