<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Daftar User</title>
</head>
<body>
    <h1>Daftar User</h1>
    <br/>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAMA</th>
                <th colspan="3">EDITING</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td><a href="edit.html" th:href="@{/edit(id=${u.id})}">edit</a></td>
                <td><a href="detail.html" th:href="@{/detail(id=${u.id})}">detail</a></td>
                <td><a href="daftar-user.html" th:href="@{/delete(id=${u.id})}">delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>