<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Mahasiswa</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1>DAFTAR MAHASISWA</h1>
        <br />
        
        <table border="1">
            <thead>
                <tr>
                    <th>NIM</th>
                    <th>NAMA</th>
                    <th>JURUSAN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mhs : ${daftarMahasiswa}">
                    <td th:text="${mhs.nim}"></td>
                    <td th:text="${mhs.nama}"></td>
                    <td th:text="${mhs.jurusan}"></td>
                    <!-- format request /hapus?nim={mhs.nim} -->
                    <td><a th:href="@{/hapus(nim=${mhs.nim})}">Hapus</a></td>
                    <td><a th:href="@{/ubah-data(nim=${mhs.nim})}">Ubah</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/tambah-data.html">Tambah</a></td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>
